.container {
  padding: 30px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px 0 15px;
}
